<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Параметры и действия</title>
    <link rel="stylesheet" href="/public/index.css">
  </head>
  <body>

  <h1> <%= name %> was born!!!!!</h1>
  <h3>health   <%= get('health')  %></h3>
  <h3>life <%= get('life')%></h3>
  <h3>eat  <%= get('eat') %></h3>
  <h3>sleepiness  <%= get('sleepiness') %></h3>
  <h3>moods  <%= get('moods') %></h3>
  <h3>happy  <%= get('happy') %></h3>
  <h3>wc  <%= get('wc') %></h3>
  <h3>love  <%= get('love') %></h3>
  <h3>anger  <%= get('anger') %></h3>
  <h3>energy  <%= get('energy') %></h3>

<div class="row" >
  <form action="/change" method="get">

    <button type="submit" class="btn btn-outline-info" name="health" value="health">Покупать</button>

    <button type="submit" class="btn btn-outline-danger" name="life" value="life">Отвести к доктору</button>

    <button type="submit" class="btn btn-outline-success" name="eat" value="eat">Покормить</button>

    <button type="submit" class="btn btn-outline-warning" name="sleepiness" value="sleepiness">Уложить спать</button>

    <button type="submit" class="btn btn-outline-warning" name="moods" value="moods">Провести время с питомцем</button>

    <button type="submit" class="btn btn-outline-warning" name="happy" value="happy">Поиграть</button>

    <button type="submit" class="btn btn-outline-warning" name="wc" value="wc">Отвести на улицу</button>

    <button type="submit" class="btn btn-outline-warning" name="love" value="love">love</button>

    <button type="submit" class="btn btn-outline-warning" name="anger" value="anger">Разозлить</button>

    <button type="submit" class="btn btn-outline-warning" name="energy" value="energy">Побегать</button>

  </form>

</div>
</body>
</html>
